NODE_ENV=development
PORT=5000
DB_USERNAME=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_DIALECT=mysql

DB_DATABASE_DEVELOPMENT=
DB_DATABASE_TEST=database_test
DB_DATABASE_PRODUCTION=database_production
JWT_SECRET=
JWT_EXPIRE_IN
RESET_PASSWORD_SECRET= 'b362c30e565b92b217a726f7bb4c2408b490ff1da04dae1ead04fcad9d76b9b97cbbbc7a637522a3bfb2df1ddb13ee83fd1d53666e44fc5f11e7da15e170740a'
